#calc-master {
    border: 1px solid #ececec;
    border-radius: 30px;
    background-color: mediumpurple;

}

@media only screen and (max-width: 600px) {
    #calc-master {
        width: 100%;
        margin: 0;
    }
}

div.spacer {
    height: 55px;
}

div.text-fields {
    height: 20%;
}

div.buttons {
    height: 60%;
    justify-content: center;
}

div.calc-row {
    width: 90%;
    height: 20%;
    text-align: center;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 20px;
}

#calc-history, #current-expression {
    height: 40%;
    margin: auto auto 20px;
    line-height: 75px;
    text-align: right;
    text-align: -moz-right;
}

#current-expression {
    border: 1px solid #ececec;
    background-color: white;
}

#history-text, #current-text {
    width: 100%;
    font-size: 32pt;
    vertical-align: middle;
    text-align: center;
    padding-right: 20px;
}

div.calc-row-thirds, div.calc-row-quarters {
    height: 100%;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

#left-bracket, #right-bracket {
    width: 20%;
}

#clear {
    width: 40%;
}

#clear-content {
    width: 90%
}

div.calc-button {
    border: 1px solid #ececec;
    border-radius: 10px;
    background-color: skyblue;
    font-size: 32pt;
    vertical-align: middle;
    height: 80%;
    width: 80%;
    margin: 10px 0 10px 10px;
}

div.calc-row-quarters {
    width: 20%;
}